/*+++++ HTML BODY +++++*/
/*+++++++++++++++++++++*/
body { background-color: #2b0200; color: #fff; }
.loading { width: 100%; height: 100vh; display: flex; align-items: center; justify-content: center; flex-direction: column;}
.loading .logo { background: url(logo.png) center center/contain no-repeat; display: block; width: 500px; height: 200px; }
.loading .gif { background: url(loading.gif) center center/contain no-repeat; display: block; width: 50px; height: 50px; }
.loading strong { font-size: 2.5rem; color: #ccc; }

/*+++++ GENERAL +++++*/
/*++++++++++++++++++*/
.cell { min-height: 126px; }
button:focus { outline: none; }

/*+++++ HEADER +++++*/
/*++++++++++++++++++*/

header { height: calc(100vh - 740px); padding-top: 30px; background: url("logo.png") center center/400px auto no-repeat; }
header button.help { float: right; }
header .col-md-6 { text-align: center; }

/* modals */
.modal-overlay { position: fixed; top: 0; left: 0; right: 0; bottom: 0; background-color: rgba(0,0,0,0.75); z-index: 1050;  }
.custom-modal { position: fixed; left: 0; top: 0; right: 0; bottom: 0; overflow: hidden; outline: 0; }
.custom-modal { color: #000; text-align: center; }
.custom-modal p { max-width: 650px; margin: 0 auto; }
.custom-modal strong { margin-bottom: 10px; display: block; font-size: 1.4rem; }
.custom-modal p:not(:first-child) strong { margin-top: 30px; }
.custom-modal #help { max-width: 1400px; }
.custom-modal .modal-content { background: linear-gradient(rgba(255,255,255,0.85), rgba(255,255,255,0.95)), url("bg.jpg") center center/cover no-repeat; }
.custom-modal .modal-header {border-bottom: 3px solid #2b0200; }
.custom-modal .modal-header h5 { color: #2b0200; font-weight: bold; }
.custom-modal .modal-footer { border-top: 3px solid #2b0200; }

/* show deck */
.cards { display: flex;	align-items: center; justify-content: center; }
.cards .cell { margin: 0 -20px; position: relative; transition: margin 500ms; }
.cards .cell:hover,
.cards .cell:focus { margin: 0 40px; }

/*+++++ MAIN +++++*/
/*++++++++++++++++*/

.main { height: 700px; background: url("bg.jpg") center center/cover no-repeat; }
.main > .container { padding-top: 15px; }
.main .cell { text-align: center; }
.main .cell:nth-last-child(n+2) { margin-bottom: 10px; }
.main img { color: transparent; } /* comment this line to see the img alt text*/

/* hand player */
#hand-user { width: calc(50% -  310px); }
#hand-user .cell.selected img { box-shadow: 0 0 15px 3px #2b0200; }

/* board */
#board { padding-top: 26px; width: 620px; }
#board .border { border: none !important; } /* comment this line to see the board cells */
#board .cell { postion: relative; height: 203px; }
#board .cell img { position: absolute; top: 50%; left: 50%; transform: translate(-50%, -50%); }

/* hand cpu */
#hand-cpu { width: calc(50% -  310px); }

/*+++++FOOTER+++++*/
/*++++++++++++++++*/

footer { height: 40px; line-height: 40px; }
footer .container { max-width: 1140px; }

/*+++++MEDIA QUERIES+++++*/
/*+++++++++++++++++++++++*/

@media (min-width:768px){
.container { max-width: 100%; }
}
